{% extends 'base.html' %}
{% block content %}
<h4>عضو هیئت مدیره گفت: هدف از تغییر نشانه (لوگوی) پست، اعلام آغاز طرح تحول در شبکه پستی کشور به مخاطبان و افزایش آگاهی آنها از این تحولات است .

به گزارش روابط عمومی شرکت ملی پست، بهزاد اقبال خواه افزود: نشانه (لوگو) بخشی از هویت بصری است که ذهنیت مخاطب را در مورد یک سازمان یا شرکت شکل می دهد، بنابراین با تغییر لوگو درصدد هستیم تا تجربه و نگاه مردم را نسبت به پست متحول کنیم؛ زیرا لوگو یکی از موثرترین مولفه هایی است که می شود برآن سرمایه گذاری کرد و به مردم رساند، پست در حال تغییر است.

وی ایجاد همگرایی بیشتر در لوگو و سایر نمادهای پستی اعم از سربرگ ها، پرچم ها، تابلوها، وسایل نقلیه و ... را از دیگر دلایل تغییر نشانه عنوان کرد و افزود: خروجی تغییر نمادهای پست، مجموعه مکتوبی است که به عنوان سند چشم انداز شرکت ملی پست در طراحی تبلیغات، اعم از تیزها و بنرها و همچین برگزاری مناسبت ها و همایش می توان از آن استفاده کرد.

او با تاکید بر این مطلب که تغییر لوگو به عنوان بخشی از فرایند تغییر نمادها و نشانه های پست است ، اظهار داشت: در ادامه فرایند تغییر، هر آنچه نشانه پست روی درج شده است، اعم از سربرگ، پرچم، تابلو و ...  به عنوان بخشی از نمادهای بصری پست، به لوگوی جدید مزین می شود، اما این تغییر تدریجی خواهد بود.

عضو هیئت مدیره دلایل این موضوع را محدودیت های مالی و ضرورت استفاده از اقلام موجود اعلام کرد و افزود: به ادارات و دفاتر پستی کشور ابلاغ شده که ابتدا تمامی سربرگ ها، رسیدها و سایر اقلام کاغذی که لوگوی موجود بر آن درج شده، استفاده شود، پس از آن نسبت به چاپ این اقلام با لوگوی جدید اقدام شود.

وی به روند تغییر لوگو بسیاری از شرکت های معروف دنیا از جمله شرکت های پست اشاره کرد و گفت: به عنوان مثال، لوگوی شرکت دی اچ ال(پست آلمان) ابتدا در سال 1969 طراحی شد اما در سالهای 1983 و 2002 دو بار تغییر کرد. فدکس( پست آمریکا) نیز پس از شکل گیری در سال 1973، در سالهای 2000 و 2006 شاهد تغییراتی بود.

اقبال خواه در خصوص مفهوم لوگوی جدید نیز گفت: لوگوی قبلی مفهومی از پرنده و پرواز را در ذهن ایجاد می کرد اما به لحاظ شکلی ایراداتی داشت از جمله اینکه خطوط آن یکسان نبود و نوعی از هم گسستگی در آن وجود داشت، به همین دلیل تلاش شده تا لوگوی جدید نیز ضمن حفظ چارچوب بیرونی و مفهوم اصلی، بهم پیوسته تر باشد و با بالاتر بودن سر پرنده، معنی چابکی بیشتر را القا کند.

او با اشاره به اینکه، ایجاد لوگو تایپ (که پیش از این وجود نداشت) یکی دیگر از انگیزه های تغییر لوگو و نوسازی نشانه پست است، افزود: در قالب این پروژه، فونت (خط) اختصاصی شرکت ملی پست نیز طراحی شده که حقوق مادی و معنوی آن متعلق به این شرکت است.

عضو هیئت مدیره درباره بودجه و هزینه نوسازی نشانه پست نیز اظهار داشت: بودجه پیش بینی شده پیاده سازی این پروژه، زیرسقف سامانه ستاد (سامانه تدارکات الکترونیکی دولت) در سال 97 است و اجرای آن نیز از طریق اعلام فراخوان رسمی در این سامانه و پس از طی تشریفات قانونی، با همکاری بخش خصوصی در حال انجام است.</h4>
{%endblock%}




